doctype html
html
  head
    title INTERIOR COORDINATE SERVICE
    //- header css
    link(rel='stylesheet', href='/stylesheets/header.css')
    //- main css 
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="stylesheet" type="text/css"　href="https://fonts.googleapis.com/css?family=Kosugi Maru">
  body
    header
      #header_logo_area
        img(src="/images/logo.jpg", alt="", srcset="")
      #header_list_area
        ul
          li
            a(href="/services") サービス
          li
            a(href="#")  流れとプラン
          li
            a(href="#")  ブログ
          li
            a(href="#")  お問い合わせ
      #header_menu_area

    .body
      block content
    footer
