doctype html
html
  head
    title INTERIOR COORDINATE SERVICE
    //- header css
    link(rel='stylesheet', href='/stylesheets/header.css')
    //- main css 
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- blog css
    link(rel="stylesheet", href="/stylesheets/blog.css")

    <link rel="stylesheet" type="text/css"　href="https://fonts.googleapis.com/css?family=Kosugi Maru">
    <script src="/jquery/jquery.min.js"></script>

  body
    header
    .body
      block content

    script(src="/javascripts/scroll.js") 
    
    footer
