body {
  margin: 0;
  width: auto;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #5B4B42;
  background-color: #F5F4F2;
}

/* デバック用 */
/* *{
  outline: 2px red solid;
} */

a {
  color: inherit;
  text-decoration: none;
}

/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
position: fixed;
width: 100%;
height: 100%;
z-index: 999;
text-align:center;
color:#fff;
}

/* Loading画像中央配置　*/
#splash_text {
position: absolute;
top: 50%;
left: 50%;
  z-index: 999;
transform: translate(-50%, -50%);
color: #fff;
width: 100%;
}


/*割れる画面のアニメーション*/
.loader_cover {
  width: 100%;
  height: 50%;
  background-color: #333;
  transition: all .2s cubic-bezier(.04, .435, .315, .9);
  transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
  transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
  position: absolute;
  bottom: 0;
  transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
  transform: scaleY(0);
}

/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
top:0;
  right: -120%;
width:100%;
  height: 100vh;/*ナビの高さ*/
background:#999;
  /*動き*/
transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
list-style: none;
  text-align: center;
}

#g-nav li a{
color: #333;
text-decoration: none;
padding:10px;
display: block;
text-transform: uppercase;
letter-spacing: 0.1em;
font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top:10px;
	right: 10px;
	cursor: pointer;
    width: 50px;
    height:50px;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #666;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


/* スクロール用の設定 */
/*----------------------------
scroll_up ｜下から上へ出現
----------------------------*/
.scroll_up {
  transition: 1.5s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up.on {
  transform: translateY(0);
  opacity: 1.0;
}


/*----------------------------
scroll_left ｜左から出現
----------------------------*/
.scroll_left {
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 1.5s ease-in-out;
  transform: translateX(-30px);
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
}
.scroll_left.on {
  opacity: 1.0;
  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  transform: translateX(0);
}

/*----------------------------
scroll_right ｜右から出現
----------------------------*/
.scroll_right {
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 1.5s ease-in-out;
  transform: translateX(30px);
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
}
.scroll_right.on {
  opacity: 1.0;
  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  transform: translateX(0);
}


/* タイトルのレイアウト */
.top_title_area h2 {
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.8cap;
  line-height: 3cap;
  padding-bottom: 30px;
}

.top_title_area h2:after {
  content: "";
  margin: 10px auto;
  display: block;
  width: 120px;
  height: 4px;
  border-radius: 2px;

  background: linear-gradient(25deg, #F13F79, #FFC778); 
}


/* トップページエリア */
#top_page_area {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* トップページタイトル */
#top_page_title_area {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#top_page_title_logo_area {
  height: 40%;
}

#top_page_title_logo_area img{
  height: 250px;
  width: 250px;
}

#top_page_title_title_area {
  height: 60%;
}

#top_page_title_title_area h1, #top_page_title_title_area p {
  font-weight: normal;
  letter-spacing: 1cap;
  line-height: 3cap;
  padding-left: 50px;
}

#top_page_title_title_area p {
  opacity: 0.3;
  color:darkblue;
}

#top_page_image_area {
  width: 40%;
}

#top_page_image_area img{
  width: 100%;
  height: 100%;
}

#top_page_menu_area {
  width: 10%;
}

#top_page_menu_area p {
  text-align: center;
}

/*スクロールダウン全体の場所*/
.scrolldown4{
  /*描画位置※位置は適宜調整してください*/
position:absolute;
bottom:1%;
right:5%;
  /*矢印の動き1秒かけて永遠にループ*/
animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
    0%{bottom:1%;}
    50%{bottom:3%;}
   100%{bottom:1%;}
}

/*Scrollテキストの描写*/
.scrolldown4 span{
  /*描画位置*/
position: absolute;
left:-20px;
bottom:10px;
  /*テキストの形状*/
color: #5B4B42;
font-size: 0.7rem;
letter-spacing: 0.05em;
/*縦書き設定*/
-ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: -6px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: #5B4B42;
  transform: skewX(-31deg);
}

.scrolldown4:after{
content:"";
  /*描画位置*/
position: absolute;
bottom:0;
right:0;
  /*矢印の形状*/
width:1px;
height: 50px;
background:#5B4B42;
}


/* サービス紹介エリア */
#top_service_area {
  height: 100vh;
  padding-left: 30px;
  padding-top: 50px;
  background-color: white;
}

#top_service_area h2 {
  font-weight: normal;
  letter-spacing: 1cap;
  line-height: 3cap;
}

#top_service_area p {
  padding-top: 30px;
}


/* お悩み解決エリア */
#top_problem_area {
  width: 100%;
}

#top_problem_title_area {
  width: 100%;
}

.top_problem_case_area {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}


.top_problem_case_question_area {
  width: 100%;
  display: flex;
}

.top_problem_case_question_area .question_area {
  width: 40%;
  border: #5B4B42 1px solid;
}

.question_area h3 {
  padding-left: 10px;
  font-weight: normal;
  letter-spacing: 1cap;
  line-height: 3cap;
}

.space_area {
  width: 60%;
}


.top_problem_case_solution_area {
  width: 100%;
  display: flex;
}

.top_problem_case_solution_area .space_area {
  width: 40%;
}

.top_problem_case_solution_area .solution_area {
  width: 60%;
  border: #5B4B42 1px solid;
}

.solution_area h3{
  padding-left: 10px;
  font-weight: normal;
  letter-spacing: 1cap;
  line-height: 3cap;
}

.solution_area p {
  padding-left: 10px;
}


/* サービスの流れエリア */
.top_process_row {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

/* カードの形を作る */
.process_card {
  width: 30%;
  height: 500px;
  background-color: #fff;
  padding-left: 10px;
  text-align: center;
  align-items: center;
  position: relative;
  border:#5B4B42 1px solid;
  display: flex;
  flex-direction: column;
}

.process_card::before {
	content: '';            	/* 擬似要素に実体を持たせる */
	width: calc(100% + 4px);    /* 外側の線になる要素の幅を指定する*/
	height: calc(100% + 4px);   /* 外側の線になる要素の高さを指定する */
	border: 1px solid #000;    	/* 外側の線になる一本線の枠線をひく*/
	position: absolute;        	/* 外側の線の位置を自由に動かせるようにする */
	top: 3px;            		/* 外側の線の位置を、内側の線から上に3pxずらす */
	left: 3px;            		/* 外側の線の位置を、内側の線から左に3pxずらす*/
}

/* カードの中身 */
.process_list {
  background-color: #000;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 100px;
}

.process_list p{
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

.process_icon {
  width: 40%;
  height: 70px;
  padding-top: 10%;
}

.process_icon img {
  width: 100%;
  height: 100%;
}

.process_title {
  padding-top: 10%;
}


/* よくある質問エリア */
.top_faq_question {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  background-color: white;
}