extends ../layouts/layout

block content
  <div id="splash">
  <div id="splash_text"></div>
  <div class="loader_cover loader_cover-up"></div><!--上に上がるエリア-->
  <div class="loader_cover loader_cover-down"></div><!--下に下がるエリア-->
  </div>
  #top_page_area
    #top_page_title_area
      #top_page_title_logo_area
        img(src="images/logo/logo.png", alt="ロゴ画像", srcset="")
      #top_page_title_title_area   
        h1 
          | 賃貸契約から
          br 
          | コーディネートまで
          br
          | トータルサポート
        p 
          | From the rental agreement
          br
          | up to interior coordination
          br
          | total support
    #top_page_image_area
      img(src="images/top/top.jpg", alt="トップ画像", srcset="")
    #top_page_menu_area
      <div class="openbtn"><span></span><span></span><span></span></div>
      <nav id="g-nav">
      <ul>
      <li><a href="#">Top</a></li> 
      <li><a href="#">About</a></li> 
      <li><a href="#">Service</a></li> 
      <li><a href="#">Contact</a></li> 
      </ul>
      </div>
      </nav>
  <div class="scrolldown4"><span>Scroll</span></div>
  #top_service_area.scroll_up
    h2 賃貸契約からインテリアコーディネートまでトータルサポート
    p 今のお家から引っ越しをして、おしゃれな部屋に住みたい。
    p そんな要望に私たちは、理想の暮らしをサポートいたします。
    p 賃貸契約からインテリアコーディネートまでノンストップで行うことで理想のお部屋を作ります。
    p 不動産業とリフォーム業の両方の現場経験を持つ私たちだからこそ、お客様の期待を超えたサービスが可能です。
    p 賃貸契約からインテリアコーディネートまで、理想のお部屋づくりをお手伝いいたします。新しいスタートに向けて、安心して暮らせる空間を一緒に作り上げましょう。
  #top_problem_area
    .top_title_area.scroll_up
      h2 こんなお悩みありませんか？
    // ケース１
    .top_problem_case_area.scroll_left
      .top_problem_case_number_area
        p CASE 01
      .top_problem_case_question_area
        .question_area
          h3 
            | 退去時の費用や
            br
            | トラブルが心配・・・
        .space_area
      .top_problem_case_solution_area
        .space_area
        .solution_area
          h3 退去サポート
          p 賃貸契約の退去時に、トラブルは付きもの・・・
          p 綺麗に使っていたつもりでも、多額の原状回復費用が請求されることも。
          p 私たちは、30年以上の現場経験を基に、不要な請求を回避するためのサポートをいたします！
    // ケース2
    .top_problem_case_area.scroll_right
      .top_problem_case_number_area
        p CASE 02
      .top_problem_case_question_area
        .space_area
        .question_area
          h3 
            | 賃貸契約は
            br
            | 難しくてよく分からない・・・
        
      .top_problem_case_solution_area
        .solution_area
          h3 
          p 賃貸新規契約をする際、契約書や約款を読む必要がありますが専門用語が多くて難しい・・・
          p また、鍵交換や清掃代で思っていたよりもお金がかかってしまうことも・・・
          p 私たちが、契約に関してもサポートいたします！
        .space_area
    // ケース3
    .top_problem_case_area.scroll_left
      .top_problem_case_number_area
        p CASE 03
      .top_problem_case_question_area
        .question_area
          h3 
            | 退去時の費用や
            br
            | トラブルが心配・・・
        .space_area
      .top_problem_case_solution_area
        .space_area
        .solution_area
          h3 退去サポート
          p 賃貸契約の退去時に、トラブルは付きもの・・・
          p 綺麗に使っていたつもりでも、多額の原状回復費用が請求されることも。
          p 私たちは、30年以上の現場経験を基に、不要な請求を回避するためのサポートをいたします！

  #top_process_area.scroll_up
    .top_title_area
      h2 ご依頼までの流れ
    // １列目
    .top_process_row
      .process_card
        .process_list
          p 01
        .process_icon
          img(src="images/logo/contact.svg", alt="")
        .process_title
          h3 お問い合わせ
        .proess_body
          p まずは、サイトやメールからご連絡ください。 
          p ご相談は無料です。 
          p お気軽にご連絡ください。
      .process_card
        .process_list
          p 02
        .process_icon
          img(src="images/logo/meeting.svg", alt="")
        .process_title
          h3 初回ヒアリング
        .proess_body
          p まずは、サイトやメールからご連絡ください。 
          p ご相談は無料です。 
          p お気軽にご連絡ください。
      .process_card
        .process_list
          p 03
        .process_icon
          img(src="images/logo/suggest.svg", alt="")
        .process_title
          h3 ご提案
        .proess_body
          p まずは、サイトやメールからご連絡ください。 
          p ご相談は無料です。 
          p お気軽にご連絡ください。
    // ２列目
    .top_process_row

  #top_blog_area 
    .top_title_area
      h2 ブログ 
  #top_plan_area
    .top_title_area
      h2 料金プラン

  #top_faq_area
    .top_title_area
      h2 よくある質問
    .top_faq_question
      .faq_icon
      .faq_question
        p 具体的に何をしてくれるの？
      .faq_solution
        p 賃貸契約時のお困り事を解決し、新居のインテリアコーディネートを行います。  
  #top_contact_area
    .top_title_area
      h2 ご相談について